name: test

on:
    pull_request:
    push:
        branches:
            - main
            - dev

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - name: Use Node.js 16.x
              uses: actions/setup-node@v1
              with:
                  node-version: 16.x

            - run: npm run lint